<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <img src="../../assets/glory.png" alt="">
  <p>
    Glory, formerly Glory World Series, is an international kickboxing promotion based in Singapore, which is owned by Pierre Andurand. It is the largest kickboxing promotion company in the world and features some of the highest-level fighters in the sport on its roster. 
  </p>
  <div>
    <p><span>Owner: </span>GSUKCO LIMITED</p>
    <p><span>Founded: </span>2012</p>
    <p><span>Headquarters: </span>30, Raffles Place, Level 17, Chevron House, Singapore</p>
  </div>
  
</div>
</ion-content>

