<ion-tabs>

  <ion-tab-bar slot="bottom ">
    <ion-tab-button tab="fighters">
      <ion-icon name="list"></ion-icon>
      <ion-label>Fighters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="native">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-label>Native</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
