@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {

    --lightblue: #3D9DEA;
    --darkblue: #4A4EEE;
    --text-color: #D5E1EF;
}

*,
button,
input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}


.box {
    position: relative;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid rgb(138, 138, 138);
    background: linear-gradient(120deg, #343A4F, #0F1620);
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    background-color: #141414;
    min-width: 300px;
    min-height: 489px;
    img {
        width: 100%;
    }

    .weightClass {
        width: 100%;
        height: 45px;
        background-color: #141414;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            background: #FFD700;
            background: -webkit-linear-gradient(to bottom, #FFD700 0%, #B8860B 62%);
            background: -moz-linear-gradient(to bottom, #FFD700 0%, #B8860B 62%);
            background: linear-gradient(to bottom, #FFD700 0%, #B8860B 62%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

   
}

.action-buttons {
   

    position: absolute;
    top: 0;
    left: 0;
    // background-color: red;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    transition: transform .3s ease-in-out, opacity .5s ease-in-out;

    img {
        width: 100%;
    }

    .btn {
        width: 30px;
        height: 30px;
        padding: 4px;
        border-radius: 50%;
        // border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s ease-in-out;
    }

    .btn.delete:hover {
        background-color: rgb(224, 31, 31);
    }

    .btn.edit:hover {
        background-color: rgb(31, 131, 224);
    }

}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background: rgb(9, 9, 121);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.4) 24%);


    .record {
        font-weight: 200;
    }
    .youtube-btn{
        background-color: transparent;
        position: absolute;
        right:12px ;
        bottom: 6px;
        width: 50px;
    }

}