<ion-header [translucent]="true">
  <ion-toolbar>
   
    <ion-title>
      Fighters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="boxes">
    <app-fighter *ngFor="let fighter of fighters; let i = index" [fighterFullName]="fighter.fullName"
      [fighterAge]="fighter.age" [fighterPicture]="fighter.picture" [fighterWeightclass]="fighter.weightclass"
      [fighterRecord]="fighter.record" [fighterCountry]="fighter.country" [id]="fighter.id">
    </app-fighter>
  </div>
</ion-content>
